/* @import '../../dist/reset.css'; */

body {
  font-size: 14px;
  line-height: 1.28571em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333
}

@media only screen and (max-width: 479px) {
  .responsive {
      font-size:16px;
      line-height: 1.5em
  }
}

h1 {
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 1.2em;
  color: #333;
  padding-top: 6px
}


h1 b {
  font-weight: normal;
  color: #333
}

.biz-details .top-shelf {
  overflow: hidden;
  min-width: 990px;
  padding-bottom: 24px;
  margin-bottom: -18px;
  z-index: 1
}

.biz-details h3 {
  margin-bottom: 12px
}

body {
  background: white;
}

.content-container {
  width: 960px;
  margin: 0 auto;
  padding: 0 15px
}

@media only screen and (max-width: 989px) {
  .content-container {
      width:auto
  }
}

.main-content-wrap {
  min-width: 1020px
}

@media only screen and (max-width: 989px) {
  .main-content-wrap {
      min-width:0
  }
}

@media only screen and (max-width: 479px) {
  .main-header .content-container {
    padding: 0 12px
}
  }

  .main-content-wrap--full {
    /** it was white*/
    background: #f5f5f5;
    border-bottom: 1px solid #e6e6e6
  }
  .main-content-wrap--full>.content-container {
    padding-top: 15px;
    padding-bottom: 36px
  }
  