// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
 .clearfix {
  *zoom:1}

.clearfix:before,.clearfix:after {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

