/**
 * Basic typography style for copy text
 */
//  body {
//   color: $text-color;
//   font: normal 125% / 1.4 $text-font-stack;
// }
body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family:  $text-font-stack;
  color: $normal-text;
  background: $white;
}

///header

//nav
.border-color--default {
  border-color:$light-border-color;
}


//create white background content wrapper

h1 {
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 1.2em;
  color: $normal-text;
  padding-top: 6px;
  b {
    font-weight: normal;
    color: $normal-text;
  }
}

.embossed-text-white {
  text-shadow: 0 1px $embossed-white;
}
