
.u-nowrap {
  white-space: nowrap !important
}
.u-space-t1 {
  margin-top: 6px !important
}
.u-inline-block {
  display: inline-block !important
}
.u-space-b0 {
  margin-bottom: 0px !important
}
.u-space-b20 {
  margin-bottom: 0px !important
}
.u-fixed {
  position: fixed !important
}
.u-relative {
  position: relative !important
}

.u-space-r-half {
  margin-right: 3px !important
}

.u-space-l2 {
  margin-left: 12px!important
}
.u-space-l4 {
  margin-left: 24px !important
}
.u-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}
.u-absolute {
  position: absolute !important
}
.u-sticky-top {
  top: 0 !important
}
.u-pull-right {
  float: right !important
}
.u-pull-left {
  float: left !important
}
.u-padding-t2 {
  padding-top: 12px!important
}
.u-padding-b2 {
  padding-bottom: 12px!important
}
.u-padding-l1 {
  padding-left: 6px!important
}
.u-padding-l2 {
  padding-left: 12px!important
}
.u-padding-r2 {
  padding-right: 12px!important
}



.align-middle {
  vertical-align: middle !important
}