.biz-page-subheader {
  display: table
}
.biz-page-subheader .mapbox-container,.biz-page-subheader .showcase-container {
  display: table-cell;
  vertical-align: middle
}
.biz-page-subheader .mapbox-container {
  width: 33.33333%
}

.biz-page-subheader .showcase-container {
  width: 66.66667%
}

.biz-page-subheader .showcase-container_inner {
  position: relative;
  width: 660px;
  height: 220px
}
.biz-page-subheader .top-shelf-grey {
  z-index: -1;
  position: absolute;
  top: -9999px;
  right: -9999px;
  bottom: 0;
  left: -9999px
}

.mapbox {
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc
}