
.main-header_wrapper {
  padding: 12px 0;
  position: relative;
  background: #d32323;
}

.main-header {
  z-index: 6
}

.nav-header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*****/
  z-index: 1011!important;
  /**/
  border-bottom: 1px solid #e6e6e6;
    /**/
  border-color: #e6e6e6;
    /**/
  position: relative!important;
  background: #fafafa!important;
}
.nav-container {
  max-width: 960px!important;
  margin: 0 auto!important;
  /**/
  border-left: 1px solid #e6e6e6!important;
  border-right: 1px solid #e6e6e6!important;
  /*responsive
  border-left: none!important;
  border-right: none!important
  */
}
