
%button {
  color: inherit;
  font: inherit;
  margin: 0;
  font-weight: normal;
}
input {
  @extend %button;
}
button {
  overflow: visible;
  @extend %button;
}
//main button
.m-btn {
  @include space(margin, all, 0);
  @include border(border, 1px, black);
  @include font-scale(m-btn, $font-map);
  @include padding(8px, 19px, 9px, 19px);
  @include border-radius(3px);
  @include x-user-select;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  &:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
  }
}
/** with link anchor*/
%link-text {
  color: #fff;
}
a.m-btn {
  text-decoration: none !important;
  &:hover {
    @extend %link-text;
  }
  &:visited {
    @extend %link-text;
  }
}
/** primary button*/
.m-btn-primary {
  color: #fff;
  background: $brand-color; //brand color
  border: 1px solid $brand-color; //brand color
  background-image: none;
  background-repeat: no-repeat;
  transition: all 0.6s;
  transition-property: background-color, background-position, background-size, border-color;
  background-position: 50% 50%;
  background-size: 15000px 15000px;
  &:hover {
    background-color: $button-hover-red; //button-hover-red
  }
  &:focus {
    transition: all 2s ease-in;
    background-image: radial-gradient(#be2020 50%, transparent 50%);
    background-color: #be2020;
    outline: none;
  }
  &:active {
    transition: all 0s;
    background-color: $button-hover-red; //button-hover-red
    background-image: radial-gradient(transparent 50%, transparent 50%);
    background-position: 50% 50%;
    background-size: 50px 50px;
  }

}

/** secondary button*/
.m-btn--secondary {
  color: #666;
  background: #fff;
  border: 1px solid #ccc;
  background-image: none;
  background-repeat: no-repeat;
  transition: all 0.6s;
  transition-property: background-color, background-position, background-size, border-color;
  background-position: 50% 50%;
  background-size: 15000px 15000px;
  &:focus {
    transition: all 2s ease-in;
    background-image: radial-gradient(#e6e6e6 50%, transparent 50%);
    background-color: #e6e6e6;
    outline: none;
  }
  &:hover {
    background-color: #f5f5f5;
  }
  &:active {
    transition: all 0s;
    background-color: #f5f5f5;
    background-image: radial-gradient(transparent 50%, transparent 50%);
    background-position: 50% 50%;
    background-size: 50px 50px;
  }
}
/** with different icon size*/
.m-btn .icon.icon--size-14 {
  margin: -7px 0
}
.m-btn .icon.icon--size-24 {
  margin: -12px 0
}
.m-btn .icon.icon--size-18 {
  margin: -9px 0
}
.m-btn--small {
  @include padding(5px, 8px, 5px, 8px);
  @include font-scale(small, $font-map);
}



/** group of buttons*/
.m-btn-group .m-btn {
  position: relative;
  float: left;
  border-radius: 0;
  &:first-child {
    border-radius: 3px 0 0 3px;
  }
  &:last-child {
    border-radius: 0 3px 3px 0;
  }
  &:active {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
  &:focus {
    z-index: 1;
  }
  &+.m-btn {
    margin-left: -1px;
  }
}

/** main header buttons */
%background {
  background: #a71c1c;
}
.header-main .header-main__button {
  -webkit-box-shadow: none;
  box-shadow: none;
  vertical-align: middle;
  margin: 0;
  outline: 0;
  border: none;
  border-radius: 4px;
  background: #bd1f1f;
  line-height: 24px;
  padding: 6px 18px;
  &:focus {
    @extend %background;
  }
  &:hover {
    @extend %background;
  }
  &:active {
    @extend %background;
  }
}
.header-main .header-main__account .user-account__button {
  padding: 0;
  @extend .header-main__button;
}

/** WAR star button and other 3 buttons in biz right*/
.biz-actions .war-button {
  float: left;
  padding-left: 12px;
  margin: 0 12px 0 0
}

.biz-actions .m-btn-group {
  float: right;
  margin-top: 4px
}
