/** bullet point */
.bullet::after {
  @include pseudo(inline-block, relative, "\A0\2022\A0");
  @include margin(0, 3px, 0, 3px);
  @include font-scale(bullet, $font-map);
  top: -1px;
  color: #999;
}
/** main icon */
.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  top: -.1em;
  fill: #666;
  &::before {
    @include pseudo();
    left: 0;
  }
  &::after {
    @include pseudo();
    @include pos(0,0,0,0);
  }
}
/** icon with svg*/
.icon_svg{
  fill: inherit;
  display: block;
  @include box(100%, 100%);
  @include pos(0, 0, 0, 0);
}

.icon--nav { //no need another icon
  @extend .icon;
}
.icon--inverse {
  fill: #fff;
}

.icon--white {
  fill: #fff;
}
.icon--blue-dark {
  fill: #0073bb;
}

.icon--linked {
  fill: #0073bb
}
.icon--currentColor {
  fill: currentColor
}
