.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  text-align: center;
  background: rgba(0,0,0,0.8);
  @include x-user-select;
}

.modal::after {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  content: ""
}

.modal_inner {
  position: relative;
  display: inline-block;
  width: 95%;
  max-width: 1300px;
  max-height: 95%;
  overflow-y: auto;
  vertical-align: middle;
  // -webkit-user-select: text;
  // -khtml-user-select: text;
  // -moz-user-select: text;
  // -ms-user-select: text;
  // user-select: text;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.modal_close {
  position: absolute;
  right: 3px;
  margin-top: 3px;
  padding-top: 6px;
  border-radius: 3px;
  width: 36px;
  height: 30px;
  font-size: 36px;
  line-height: 18px;
  font-weight: 100;
  color: #666;
  cursor: pointer;
  opacity: 0.5
}

.modal_close:hover,.modal_close:focus {
  opacity: 0.7;
  background-color: #e8e8e8
}

.modal_close:active {
  background-color: #e3e3e3
}

.modal_dialog {
  margin: 0 auto;
  vertical-align: middle;
  overflow: hidden;
  text-align: left;
  padding: 12px;
  border-radius: 5px;
  background: #fff;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto
}

.modal--large>.modal_inner {
  max-width: 700px
}
.save-modal .save-list {
  border: 1px solid #e6e6e6;
  height: 30vh;
  padding: 0 12px
}

.save-modal .save-list li {
  padding: 12px 0
}