///Create different rating stars
@include create-img('.m-stars',
'https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png',
132px 560px
);

///create common context
@mixin create-star-size() {
  width: 132px;
  height: 24px;
}

///Generate each star position
$num: 0;
$count: 0;
@while $count <= 9 {
  $name: $num * 10;
  @if $num == 0 {
    .m-stars--#{$name} {
      background-position: 0px 0px -($count*24);
      @include create-star-size();
    }
    $num: $num + 1;
  } @else {
    .m-stars--#{$name} {
      background-position: 0px 0px -($count*24);
      @include create-star-size();
    }
    $num: $num + 0.5;
  }
$count: $count + 1;
}
